<div data-controller="terrain-editor">
  <textarea data-terrain-editor-target="source" style="display: none" readonly><%= image_tag "terrain-a.obj" %></textarea>
  <button data-action="click->terrain-editor#loadModel">Load</button>
</div>